article {
  height: calc(100% - 56px);
  width: var(--article-width);
  position: absolute;
  bottom: 0;
  right: calc((100vw - var(--article-width)) / 2);
  overflow: auto;
  padding: 16px;

  font-family: var(--article-font);
  background: var(--bg-0);

  transition: right 0.4s ease;

  line-height: 1.7;
}

article :first-child {
  margin-top: 0;
}
