article {
    height: calc(100% - 64px);
    overflow: auto;
    border-radius: 16px;
    padding: 16px;
    line-height: 1.5; /* i know this should be bigger to actually be readable but idk what it should be, ayush prolly knows */

    font-family: var(--article-font) /* maybe we can let the user change the font this uses? */;
    background: var(--bg-0); /* also would be cool to have a setting to show articles in light mode */
}

article :first-child {
    margin-top: 0;
}
