.dictionary-button {
  position: absolute;
  width: 28px;
  aspect-ratio: 1;
  background: var(--bg-0);
  border: 1px solid var(--border);
  border-radius: 100px;
  transform: translateX(-50%);
  animation: dictionary-button-enter 0.2s cubic-bezier(0,.72,.21,1);
  transition: border-color 0.1s linear, var(--btn-transition);
}

.dictionary-button:hover {
  border-color: var(--bg-4);
  background: var(--bg-2);
}

@keyframes dictionary-button-enter {
  from {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
}

#dictionary-entries {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#dictionary-entries :is(h3, h4) {
  margin: 0;
}

#dictionary-entries > div:not(:last-child) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}

#dictionary-entries > div > h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

#dictionary-entries > div > h3 > span {
  color: var(--text-muted);
  font-weight: 300;
  font-size: 85%;
  margin: 2px 0 0 2px;
}

#dictionary-entries > div > h3 > * {
  white-space: nowrap;
}

.dictionary-audio {
  display: inline-flex;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.dictionary-audio:first-of-type {
  margin-left: auto;
}

#dictionary-entries ul {
  margin: 0;
}

#dictionary-entries ul > li {
  margin: 8px 0;
  font-weight: 300;
  color: var(--text-muted);
}

#word-not-found {
  font-weight: 300;
  color: var(--text-muted);
  font-style: italic;
}
