.dictionary-button {
    position: absolute;
    margin: -4px;
    padding: 4px;
    height: calc(1.25rem + 8px);
    aspect-ratio: 1;
    font-family: var(--article-font);
    outline: 1px solid var(--bg-5);
    border-radius: 100px;
    white-space: nowrap;
    transform: translateX(-50%);
}

.dictionary-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-0);
    z-index: -1;
    border-radius: inherit;
}

.dictionary-button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: -1;
    border-radius: inherit;
}

#dictionary-entries {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#dictionary-entries > div > h3, #dictionary-entries > div > h4 {
    margin: 0;
}

#dictionary-entries > div:not(:last-child) {
    border-bottom: 1px solid var(--bg-5);
    padding-bottom: 8px;
}

#dictionary-entries > div > h3 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dictionary-audio {
    display: inline-flex;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.dictionary-audio:first-of-type {
    margin-left: auto;
}
