@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Poppins&family=Montserrat&family=Nunito&family=Quicksand&family=DM+Sans&family=Manrope&family=Inter&family=Source+Sans+3&family=Work+Sans&family=Raleway&family=IBM+Plex+Sans&family=Public+Sans&family=Karla&family=PT+Sans&family=Noto+Sans&family=Noto+Serif&family=Playfair+Display&family=Lora&family=Merriweather&family=Crimson+Pro&family=Spectral&family=Source+Serif+4&family=PT+Serif&family=Libre+Baskerville&family=Cormorant+Garamond&family=DM+Serif+Text&family=Vollkorn&family=Fira+Code&family=JetBrains+Mono&family=Inconsolata&family=Source+Code+Pro&family=Roboto+Mono&family=IBM+Plex+Mono&family=Space+Mono&family=Ubuntu+Mono&family=PT+Mono&family=Cousine&family=Hack&family=Overpass+Mono&family=Pacifico&family=Dancing+Script&family=Great+Vibes&family=Lobster&family=Sacramento&family=Satisfy&family=Allura&family=Alex+Brush&family=Amatic+SC&family=Indie+Flower&family=Caveat&family=Parisienne&family=Shadows+Into+Light&family=Yellowtail&family=Cookie&family=Arizonia&family=Patrick+Hand&family=Reenie+Beanie&family=Bebas+Neue&family=Oswald&family=Anton&family=Abril+Fatface&family=Black+Ops+One&family=Bungee&family=Alfa+Slab+One&family=Fredoka+One&family=Luckiest+Guy&family=Righteous&family=Russo+One&family=Orbitron&family=Cinzel&family=Audiowide&family=Unica+One&family=Press+Start+2P&family=VT323&family=Exo&family=Baloo+2&family=Nunito+Sans&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+TC&family=Noto+Sans+SC&display=swap");

@font-face {
  font-family: dm-serif-display;
  src: url("../fonts/dm_serif_display.ttf");
}

@font-face {
  font-family: outfit;
  src: url("../fonts/outfit.ttf");
}

@font-face {
  font-family: dyslexic-font;
  src: url("../fonts/open_dyslexic_regular.woff");
}

:root {
  --header-font: dm-serif-display, serif;
  --base-font: outfit, system-ui, sans-serif;
  --article-font: serif;
}

html {
  font-family: var(--base-font);
}

* {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--header-font); */
  font-weight: inherit;
}

::placeholder {
  color: var(--text);
  opacity: 0.5;
}
