@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Cabin&family=Inter&family=Karla&family=Lato&family=Manrope&family=Montserrat&family=Noto+Sans&family=Nunito&family=Open+Sans&family=Public+Sans&family=Quicksand&family=Raleway&family=Roboto&family=Work+Sans&family=Barlow&family=Rubik&family=Source+Sans+3&family=PT+Sans&family=Ubuntu&family=Verdana&family=EB+Garamond&family=Libre+Baskerville&family=Lora&family=Merriweather&family=Noto+Serif&family=PT+Serif&family=Source+Serif+4&family=Spectral&family=Tinos&family=Cormorant+Garamond&family=Cardo&family=Domine&family=Crimson+Pro&display=swap");

@font-face {
  font-family: dm-serif-display;
  src: url("../fonts/dm_serif_display.ttf");
}

@font-face {
  font-family: outfit;
  src: url("../fonts/outfit.ttf");
}

@font-face {
  font-family: dyslexic-font;
  src: url("../fonts/open_dyslexic_regular.woff");
}

:root {
  --header-font: dm-serif-display, serif;
  --base-font: outfit, system-ui, sans-serif;
  --article-font: serif;
}

html {
  font-family: var(--base-font);
}

* {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--header-font); */
  font-weight: inherit;
}

::placeholder {
  color: var(--text-muted);
}
