@font-face {
    font-family: dm-serif-display;
    src: url("./fonts/dm_serif_display.ttf");
}

@font-face {
    font-family: outfit;
    src: url("./fonts/outfit.ttf");
}

:root {
    --header-font: dm-serif-display, serif;
    --base-font: outfit, system-ui, sans-serif;
}

html {
    font-family: var(--base-font);
}

* {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}
