header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    flex-shrink: 0;
    background: var(--bg-0);
    position: relative;
    z-index: 2;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: var(--accent-0);
}

#search-wrapper {
    width: var(--article-width);
    position: relative;
}

#search {
    height: 48px;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 48px;
    border: none;
    width: 100%;
    background: var(--bg-1);
}

#search-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 4px;
}
