::selection {
  background: color-mix(in srgb, var(--accent), transparent 70%);
}

i:is(.ph, .ph-fill) {
  font-size: 1.25rem;
}

h2 > i:is(.ph, .ph-fill) {
    font-size: 1.5rem;
}

/* annoying little x button on input[type="search"] */
::-webkit-search-cancel-button {
  display: none;
}

/* google translate extension is interfering with the dictionary popups  */
#gtx-trans {
  display: none !important;
}
