[data-panel="settings"] {
    height: 100%;
}

#settings-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings-radio-label {
    display: flex;
    flex-direction: column;
}

.setting-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.setting-wrapper > label:first-child {
    width: 100%;
}

.setting-wrapper > label > h3 {
    margin: 0;
}

.setting-wrapper-radio {
    justify-content: space-between;
}

.setting-wrapper-radio > label:not(:first-child) {
    transition: background 0.1s linear;
    padding: 8px;
    padding-top: 4px;
    border-radius: 8px;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin: auto;
    margin-top: 8px;
    cursor: pointer;
    position: relative;
}

input[type="radio"]::after {
    content: "\e18a";
    display: flex;
    align-items: center;
    color: inherit;
    font-family: "Phosphor";
    position: absolute;
    inset: 0;
    font-size: 1.25rem;
    transition: color 0.1s linear;
}

input[type="radio"]:checked::after {
    content: "\eb08";
    font-family: "Phosphor-fill";
    color: var(--accent-0);
}

label:has(input[type="radio"]) {
    transition: color 0.1s linear, var(--box-shadow-transition);
    box-shadow: 0px 0px 0px 0 var(--accent-0);
}

label:has(input[type="radio"]:checked) {
    color: var(--accent-0);
}

label:has(input[type="radio"]:focus-visible) {
    box-shadow: 0px 0px 0px 2px var(--accent-0);
}
