:focus {
    outline: none;
    box-shadow: 0px 0px 0px 0 var(--accent-0);
}

:not(input):focus-visible {
    box-shadow: 0px 0px 0px 2px var(--accent-0);
}

* {
    box-sizing: border-box;
    border: none;
    padding: 0;
    color: inherit;
    background: transparent;

    line-height: 1.5; /* i know this should be bigger to actually be readable but idk what it should be, ayush prolly knows */
}

:not(h1, h2, h3, h4, h5, h6, i) {
    font-size: inherit;
}

html, body {
    margin: 0;
    height: 100%;
    color-scheme: dark;
    background: var(--bg-0);
    overflow: hidden;
    color: var(--color);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-bottom: 8px;
    height: 100%;
}

/* buttons :) */

button {
    cursor: pointer;
    transition: background 0.1s linear, box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1), outline 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* secondary (basic gray button) */

.secondary:hover {
    background: var(--btn);
}

.secondary:active {
    background: var(--btn-active);
}

#panel {
    position: absolute;
    right: 8px;
    bottom: 8px;

    padding: 16px;

    background: var(--bg-1);
    border-radius: 16px;
    width: var(--panel-width);
    height: calc(100% - 72px);
    transition: right 0.4s ease, width 0.4s ease;
    overflow-y: auto;
}

#panel h2:first-child {
    margin-top: 0;
}

#close-panel {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
